@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
<html>
<head><title>Authorization server. Welcome page.</title></head>
<body>
    <h1>Authorization server. Welcome page.</h1>
</body>
</html>
@{
}
